/* CSS for products_display and cart */

/* borrowed from w3schools
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_product_card */

/* syles products being displayed inside the div= "card"*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  position: relative;
  background-color: ivory;
  margin-bottom: 10px;
}

/* styles price shown */
.price {
  color: grey;
  font-size: 22px;
}

/* styles "add to cart" button */
input[type=button] {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* causes fade when hover over button */
.card button:hover {
  opacity: 0.7;
}

/* borrowed up till here */

/* styles heading 1 */
h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 40px;
  color: black;
  text-align: center;
}

/* styles image */
img {
  height: 300px;
  width: 300px;
  position: relative;
}

/* styles items inside <main> </main> */
main {  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
}

/* removes bullet points for store */
main li {
  list-style: none; 
}

/* creates the backrgound image for website (wood tiles) */
body{
  background-image: url(/images/tile.jpg);
}

/* styles purchase button */
input[type=submit] {
  width: 7em;  height: 2em;
  font-size: 20px;
  color: blue;
  float: none;
}

/* syles heading 3 */
h3 {
  margin-top: 1px;
  font-size: 40px;
  line-height: 40px;
  color:black;
}