/* CSS for all pages that have navbar (i.e., all pages except invoice)

/* borrowed from Kevin Powell 
https://www.youtube.com/watch?v=FEmysQARWFU */

/* STYLES NAVBAR */

/* styles body */
body {
	margin: 0;
	background:white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

/* styles container */
.container {
	width: 80%;
	margin: 0 auto;
}

/* styles header; color */
header {
  background: burlywood;
}

/* styles header */
header::after {
  content: '';
  display: table;
  clear: both;
}

/* styles logo */
.logo {
  float: left;
  padding: 10px 0;
}

/* have navbar words go to the left */
nav {
  float: left;
}

/* styles list */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* styles list */
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  padding-bottom: 23px;
  position: relative;
}

/* navigation change when hover */
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}

/* navigation hover color */
nav a:hover {
  color: #000;
}

/* navigation change before hover */
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

/* navigation change width of hover hover */
nav a:hover::before {
  width: 100%;
}

/* END STYLES FOR NAVBAR */

