/* borrowed from w3schools.com */
/* https://www.w3schools.com/howto/howto_js_password_validation.asp */
/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color:brown;
  color: white;
}